// // ****************************************************************************
// // *                                 variable                                 *
// // ****************************************************************************
$c1: #00a651;
$c2: #ed1b25;
$c3: #0c6136;
$c4: #f2780b;
$tran: transparent;
// //-------------------------------------------------------------------misc-----------------------------------------------
$text-hl:#d63c3c;
$c-gray: #cfcfcf;
$c-btn: #1ba2fa;
$c-btn2: #055698;
$c-lnk:#0360af;
// // ****************************************************************************
// // *                                 break point                              *
// // ****************************************************************************

$mobile: 768px;
// $pc: 1440px;
$pc: 1440px;
$lg: $pc+1px;