<footer class="footer2">

    <div class="ft-wrapper">

        <div class="ft-top">
            <div class="floatright-pc">
                <div class="ft-logo-brand">
                    <div class="ft-brand">
                        <a href="/renew/index.html">
                            <img src="../common/img/logo-ft.png" class="show-sp" alt="alt_text">
                            <img src="../common/img/logo-blue.png" class="show-pc" alt="alt_text">
                        </a>
                        <span><b>葵屋</b> 株式会社 </span>
                    </div>
                    <div class="show-pc">
                        〒210−0023 神奈川県川崎市川崎区小川町15-13 川崎トーセイビル 8階 <br>
                        TEL. 044-221-9662 MAIL. info@aoiyakk.com
                    </div>
                </div>
                <ul class="ft-menu show-pc">
                    <include src="_list-link.html"></include>
                </ul>
            </div>
        </div>


        <section class="ft-bot">
            <ul class="ft-menu show-sp">
                <include src="_list-link.html"></include>
            </ul>

            <div class="ft-logo"> <img src="../common/img/aoiya2.png" alt="alt_text"> </div>
            <div class="copy-r show-sp">Copyright (C) 2017 <a href="">Aoiya</a> KK All Rights Reserved.</div>
        </section>

    </div>

</footer>

<!-- footer library -->

<script src="../common/js/jquery.validate.js"></script>
<script src="../common/js/custom.js"></script>
