footer
    <a href="" id="go-top" class="show-pc"><i class="fa fa-angle-up"></i></a>
    .ft-wrapper

        .ft-top
            .floatright-pc
                .ft-logo-brand
                    .ft-brand
                        <img src="img/logo-ft.png" alt="alt_text">
                        span: b 葵屋 株式会社

                    a.go-top.show-sp
                        <img src="img/arrow-up.png" alt="alt_text">
                        p PAGE TOP

                    .show-pc 〒210−0023 神奈川県川崎市川崎区小川町15-13 川崎トーセイビル 8F <br/>

                ul.ft-menu.show-pc
                    li: a.go-to(href="#bussiness") 事業内容
                    li:  a.go-to(href="#recruit") 採用情報
                    li:  a.go-to(href="#outline") 会社概要
                    li:  a.go-to(href="#access") アクセス
                    li:  a.go-to(href="#contact") お問い合わせ

        section.ft-bot
            ul.ft-menu.show-sp
                li: a.go-to(href="#bussiness") 事業内容
                li: a.go-to(href="#recruit") 採用情報
                li: a.go-to(href="#outline") 会社概要
                li: a.go-to(href="#access") アクセス
                li: a.go-to(href="#contact") お問い合わせ

            .ft-logo <img src="img/AOIYA.png" alt="alt_text">
            .copy-r Copyright (C) 2018 <a href="">Aoiya</a> KK All Rights Reserved.

<!-- footer library -->
script(src="js/GoogleMap.js")
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA4GSO0mBdxjmaNM-e30bVTrz_RrSeJJA&callback=myMap"></script>