<header>
    <section id="menu">
        <div class="navbar2 sticky-header fixed clearfix">
            <a class="logo" href="/renew/index.html"><img src="../common/img/logo-blue.png" alt=""></a>
            <ul class="header-list">
                <include src="_list-link.html"></include>
            </ul>
            <!--mobi button-->
            <a href="/renew/recruit/entry.html" class="header-entry">
                <!-- <a href=""> -->
                <i class="fa fa-sign-in"></i>
                <span>ENTRY</span>
                <!-- </a> -->
            </a>
            <!--/mobi button-->
        </div>
        <div class="js-after-fixed"></div>
    </section>

    <section class="banner">
        <img src="../common/img/top-main-bg.png" alt="" class="show-sp w1">
        <img src="../common/img/top-main-bg-pc.png" alt="" class="show-pc w1">
        <div class="box-name">
            <!-- <img src="../common/img/box-name.png" alt=""> -->
            <h2>Synergy to the Future</h2>

            <p>何事にも捉われない<br> あなたの自由を創造し<br> あなたの可能性を発揮するステージが<br> 今、ここにあります。</p>
        </div>
        <a href="#about-department" class="scrolldown go-to">
            <span>SCROLL</span> <br>
            <img src="../common/img/i-arrow-down.png" alt="">
        </a>
    </section>
</header>