<header>
    <section id="menu">
        <div class="navbar2 sticky-header fixed clearfix">
            <a class="logo" href="/renew/index.html"><img src="../common/img/logo-blue.png" alt=""></a>
            <ul class="header-list">
                <include src="_list-link.html"></include>
            </ul>
            <!--mobi button-->
            <a href="/renew/recruit/entry.html" class="header-entry">
                <!-- <a href=""> -->
                <i class="fa fa-sign-in"></i>
                <span>ENTRY</span>
                <!-- </a> -->
            </a>
            <!--/mobi button-->
        </div>
        <div class="js-after-fixed"></div>
    </section>


</header>