<header>
    <section id="menu">
        <div class="navbar2 sticky-header fixed clearfix">
            <a class="logo" href="/renew/index.html"><img src="../common/img/logo-blue.png" alt=""></a>
        </div>
        <div class="js-after-fixed"></div>
    </section>


</header>