doctype html
html
  head
    title Example
    link(rel="stylesheet", href="style.css")
  body
    include ../modules/_header.pug
    h1  index
    h2 ahaasjd
    .test test
    img(src="../../img/aoiya2.png", alt="aoiya2.png")
    img(src="../../img/AOIYA.png", alt="aoiya2.png")
    include ../modules/_footer.pug
